.map-wrapper {
  overflow: scroll;
  border: 1px solid $black;

  @include touch {
    -webkit-overflow-scrolling: touch;
    min-height: 60vh;
  }
}

.annotationLayer .linkAnnotation > a:hover, .annotationLayer .buttonWidgetAnnotation.pushButton > a:hover {
  opacity: 1;
  background: none;
  box-shadow: none;
  &:before {
    height: .6px;
  }
}