@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/font/AvenirNextLTPro-DemiCn.eot");
  src: url("/font/AvenirNextLTPro-DemiCn.eot?#iefix") format("embedded-opentype"),
  url("/font/AvenirNextLTPro-DemiCn.woff2") format("woff2"),
  url("/font/AvenirNextLTPro-DemiCn.woff") format("woff"),
  url("/font/AvenirNextLTPro-DemiCn.ttf") format("truetype"),
  url("/font/AvenirNextLTPro-DemiCn.svg#AvenirNextLTPro-DemiCn") format("svg");
  font-weight: normal;
  font-style: normal;
}